body {
    min-width: 200px;
    min-height: 300px;
}

#back {
    margin: 0;
    width: 300px;
}

div {
    position: absolute;
    left: 60px;
    width: 200px;
    height: 60px;
}

.share {
    top: 70px;
}

.rank {
    top: 230px;
}

.com {
    top: 310px;
}

div:hover {
    cursor: pointer;
}

.share {
    margin-top: 70px;
}

#close {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 20px;
    left: 277px;
}
