body {
    min-width: 420px;
    min-height: 250px;
    max-width: 420px;
    max-height: 250px;
    background: #eee;
}


.sum {
    background-color: red;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 200px;
    height: 40px;
}

.com {
    background-color: blue;
    position: absolute;
    top: 60px;
    left: 20px;
    width: 200px;
    height: 40px;
}

#qrcode {
    position: absolute;
    top: 280px;
    left: 650px;
}

#confirm {
    position: absolute;
    top: 100px;
    right: 40px;
}

img {
    z-index: -1;
}

.text1 {
    font-size: 20px;
    position: absolute;
    top: 200px;
    left: 100px;
    width: 235px;
    height: 150px;
}

.text2  {
    font-size: 35px;
    position: absolute;
    top: 25px;
    left: 340px;
    width: 280px;
    height: 70px;
}